body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0.3em;
  padding: 0.3em;
  line-height: 1.6;
}

main {
  background-color: lightgray;
  max-width: 75%;
  margin: auto;
}

header, main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3 {
  color: #444;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1em;
}

a {
  color: darkblue;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}

a:hover {
  border-bottom: 1px solid #007BFF;
}

/* Container styles */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form input styles */
input, textarea, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus, textarea:focus, select:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.3);
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  right: 1em;
}
/* NAV */
nav, nav div {
  display: flex;
  justify-content: space-around;
  font-size: 0.6em;
}

nav .page-links {
  width: 60%;
}

nav span {
  margin: 0.5em;
}
